* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#wrapper{
    display:none;
}

.header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/code.jpg');
    background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  max-width: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100px;
  width: 900px;
  margin: 20px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: RGBA(0, 0, 0, 0.5;)
  font-weight: 300;
}
.photo-grid-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-grid-container {
  max-width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.photo-grid-container {
  display: flex;
  align-content: center;
}

.photo-grid {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-grid-item img {
  height: 240px;
  width: 240px;
}

.photo-grid-item {
  text-align: center;
  height: 275px;
  width: 275px;
  margin: 20px;
}

.first-item {
  order: -1;
}

.last-item {
  order: 1;
}



.main {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 400px;
}

.contain {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/computer.jpg');
    background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}

.description {
  display: flex;
  max-width: 900px;
  padding: 30px;
  margin-top: 30px;
}

#words {
  display: flex;
  flex-direction: column;
  padding:  22px;
  flex: 2;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

#map {
  display: flex;
  padding: 22px;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.footer {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/code.jpg');
    background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  max-width: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
  color: white;
}
